// Specific CSS for your home-page
.container-banner {
  position: relative;
}

.move-btn-search {
  position: absolute;
  right: 620px;
  bottom: 200px;
}


.container-banner h1 {
  margin-left: 495px;
}
