.avatar-default{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  // border: 1px solid black;
}

.avatar-lg{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  // border: 1px solid black;
}
