input, label {
  display:block;
}

.baby-form label {
  color: white;
}

.baby-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  color: #0F1664;
}

.grow {
  transition: all .2s ease-in-out;
}

.card-trip {
  &:hover {
    transform: scale(1.07)
  }
}

