
.message-name-booking {
  width: 500px;
}

.booking-body {
  background-color: white;
  width: 700px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.accepted {
  color: #5DAA6E;
}
// .image-booking {
//   height: 150px;
// }
// .margin-date {
//   // margin-top: 20px;
//   line-height: 5px;
// }

.text-center-booking {
  color: #0F1664;
  font-size: 40px;
  margin-bottom: 20px;
}

.grow {
  transition: all .2s ease-in-out;
}

.booking-body {
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.07)
  }
}

.btn-booking {
  color: white;
  background: #131664;
  border-radius: 5px;
}

.btn-booking:hover {
  color: white;
  background: #131664;
  border-radius: 5px;
}

.contenu-card{
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
}

.contenu-card li{
  margin-left: 60px;
}

