.flex {
  display: flex;
  justify-content: space-around;
}
.form-edit {
  width: 500px;
  margin-bottom: 70px;
}
.btn-medium-update {
  margin-top: 180px;
}
.btn-medium-new-booking {
  margin-left: 200px;
}
.edit-title{
  display: flex;
  position: relative;
  margin-left: 60px;
}
#delete-btn{
  position: absolute;
  top: 532px;
  right: 350px;
}

.trash-css {
  color: #161968;
  font-size: 30px;
}
